.pagination {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.pagination .text {
    opacity: 0.6;
    font-size: 1.3rem;
}

.page {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: solid 0.1rem #1c1e21;
    border-radius: 0.7rem;
    cursor: pointer;
}

.page.active,
.page:hover {
    background-color: #cff3fc;
}

.select {
    font-weight: bold;
    border-radius: 0.7rem;
    position: relative;
    outline: none;
    padding: 7px;
    background-color: #cff3fc;
}
@media screen and (max-width: 470px) {
    .pagination .text {
        opacity: 0.6;
        font-size: .7rem;
    }

    .select {
        padding: 0;
    }

    .page {
        height: 1rem;
        width: 1rem;
    }
}