.pagination {
    width: 97%;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1%;
}
.pagination .text {
    opacity: 0.6;
    font-size: 1.3rem;
}
.page {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: solid 0.1rem #1c1e21;
    border-radius: 0.5rem;
    cursor: pointer;
}
.page.active,
.page:hover {
    background-color: #d4dae9;
}
.select {
    font-weight: bold;
    border-radius: 0.7rem;
    position: relative;
    outline: none;
    padding: 7px;
    background-color: #d4dae9;
}

@media screen and (max-width: 590px) {
    .pagination {
        flex-wrap: wrap;
    }
    .pagination .text {
        opacity: 0.6;
        font-size: .7rem;
    }
    .select {
        padding: 0;
    }
    .page {
        width: 1.2rem;
        height: 1.2rem;
    }
}
