.filter {
    width: 98%;
    margin: 15px auto;
}

.filter input {
    width: calc(75px + 3vw);
    height: 33px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(34, 60, 80, 0.43) inset;
    -moz-box-shadow: 0px 0px 10px -3px rgba(34, 60, 80, 0.43) inset;
    box-shadow: 0px 0px 10px -3px rgba(34, 60, 80, 0.43) inset;
}

.filter input:hover {
    opacity: 0.8;
}

.filter button {
    width: calc(95px + 3vw);
    height: 35px;
    float: right;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    margin-right: 20px;
    background-color: #e7ddae;
    border: none;
    border-radius: 3px;
    color: #0e3944;
    cursor: pointer;
    position: relative;
    transition: transform .2s;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2)
}

.filter button:hover {
    transform: scale(1.1);

}

@media screen and (max-width: 884px ) {
    .filter {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
        margin: 0 auto;
    }

    .filter input {
        margin: 10px auto;
    }

    .filter input:hover {
        opacity: 0.8;
    }

    .filter button {
        margin: 0 auto;
    }

    .filter button:hover {
        transform: scale(1.1);
    }
}
