.newRow{
   text-align: center;
}
.newRow>div{
    font-size: 30px;
    font-weight: 500;
    padding: 20px;

}
.title span{
    font-size: 20px;
    padding: 5px;
}
.newRow input{
    width: 100px;
    height: 30px;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    cursor: pointer;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-self: center;*/
    /*!*align-items: center;*!*/



}
/*.button{*/
/*    padding: ;*/
/*}*/

.newRow button{
    width: 100px;
    height: 30px;
    border: none;
    margin: 30px 0 0 10px;
    cursor: pointer;
    background-color: #61dafb;
    border-radius: 5px;
    position: relative;
    transition: all 500ms ease;

}
.newRow button:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px
}
 button[type="submit"]{
     background-color: #4cdc7e;
 }
.newRow span input:required{
border: 1px red solid;
}
