.superSelect {
    width: 135px;
    height: 35px;
    margin-left: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(34, 60, 80, 0.43) inset;
    -moz-box-shadow: 0px 0px 10px -3px rgba(34, 60, 80, 0.43) inset;
    box-shadow: 0px 0px 10px -3px rgba(34, 60, 80, 0.43) inset;
}

.superSelect:hover {
    opacity: 0.8;
}

.option:checked {
    background: #d58b83;
    color: blue;
}

@media screen and (max-width: 884px) {
    .superSelect {
        width: 110px;
        margin: 10px auto;
        font-size: 12px;
    }
}
