.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(57, 55, 72, 0.22);
    z-index: 10;
    cursor: pointer;
}
.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(250px + 15vw);
    height: calc(100px + 30vh);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    background: #FFFFFF;
    right: 80px;
    z-index: 21;
}
