.preloader {
    position: relative;
}

.preloader img {
    position: absolute;
    width: calc(100px + 35vw);
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -60%);
    margin: 0 auto;
    opacity: .3;
}
