.preloader {
    position: relative;
}

.preloader img {
    position: absolute;
    width: 35em;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -170%);
    margin: 0 auto;
    opacity: .3;
}
